{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>
<div class="project-card">
  <div class="card-body">
    <h4 class="card-title" style="font-size:26px; margin-top: -0.5em;">Rigs</h4>
    <h4 class="card-title" style="font-size:22px; margin-top: -1.5em;">my computer</h4>
    <p class="card-text" style="margin-top: -2em;"> this is where i do all my stuff  </p>
    <p> <b style="font-size: 20px;">Specs</b> <br>
    <b>cpu:</b> intel i7 9700F <br>
    <b>gpu:</b> MSI RTX 2060 SUPER VENTUS OC <br>
    <b>ram:</b> corsair & curcial 2x 8gb ddr4 <br>
    <b>motherboard:</b> MSI MPG z390 gaming plus <br>
    <b>boot drive:</b> intel 660p 1tb <br>
    <b>striped disks:</b> sansung 970 evo (250gb) 233gb, curcial ct250bx100 233gb, crucial ct275mx300 275gb <br>
    <b>total striped storage:</b> 698gb <br>
    </p>
    <img class="pc-image" src="{{ url_for('static', filename='computer.jpg') }}" alt="Project Image" width="100%" height="auto" style="border-radius: 8px;">
    <div style="text-align: center;">placeholder image</div>

    <h4 class="card-title" style="font-size:26px; margin-top: -0.5em;">my Server</h4>
    <p class="card-text" style="margin-top: -2.5em;">this is my server and also acts like an all year heater [insert this is fine meme] </p>
    <p> <b style="font-size: 20px;">Specs</b> <br>
    <b>cpu:</b> intel i7 7800X <br>
    <b>gpu:</b> asus strix 1050 ti (oc?) <br>
    <b>ram:</b> 3x corsair 8gb ddr4 <br>
    <b>motherboard: </b> msi x299 gaming pro carbon <br>
    <b>storage: </b> SAMSUNG MZVL4512HBLU-00BL7 512gb, KINGSTON RBUSNS8 120gb, Seagate Momentus 5400 500gb, ST1000LM035-1RK1 Seagate 1TB Laptop, ST31000524AS Seagate Barraczda 7200.12 1tb <br>
    <b>total storage: </b> 3TB
    </p>
    <img class="pc-image" src="{{ url_for('static', filename='home_server.jpg') }}" alt="Project Image" width="100%" height="auto" style="border-radius: 8px;">
    <div style="text-align: center;">placeholder image</div>
  </div>
</div>

{% endblock %}
