*{
    box-sizing: border-box;
  }

html {
    height: 100%;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    background-color: #3e3f55;
    color: #f8c2c2;
    line-height: 1.6;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #f8c2c2;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #f8c2c2;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #f8c2c2;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li.active a {
    background-color: #f8c2c2;
}

/* main {
    max-width: 960px;
    margin: auto;
    padding: 1rem;
} */

.card-body {
    padding: 1rem;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    background-color: #24252f;
    color: #f8c2c2;
    font-size: 16px;
    max-width: 500px;
    min-width: 400px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 100vh);
    justify-items: center;
    max-width: calc(100vw - 2rem);
    margin-top: 2rem;
    padding: 1rem;
    row-gap: 2rem;
    padding-bottom: 5rem;
}


.project-cards .card {
    width: 18rem;
}

.project-cards .card img {
    height: 10rem;
    border-radius: 0.5rem;
}


.headline {
    text-align: center;
    padding-bottom: -1rem;
}

footer {
    display: grid;
    padding: 1rem;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid #f8c2c2;
}